*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-image: url(FACEBOOK\ BKG.jpg);
    background-position: center;
    background-size: cover;
    height: 500px;
    backdrop-filter: blur(20px); 
    align-items: center;
    display: flex;
    justify-content: center;
}

.inall{
    background: rgba(177, 201, 212, 0.8);
    padding: 37px;
    margin-top: 150px;
    border-radius: 19px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 500px;
    overflow: hidden;
}

h1{
    color: #fff;
    font-size: 45px;
    text-align: center;
    font-family: 'Times New Roman';
    letter-spacing: 1px;
    padding-bottom: 12px;
}

.log{
  font-family: 'Times New Roman';
  color: #0f96d4;
  font-weight: 900;
  font-size: 20px;
}


.wave-group{
    position: relative;
}

.wave-group .input {
    font-size: 25px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 400px;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
  }
  
  .wave-group .input:focus {
    outline: none;
  }
  
  .wave-group .label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    display: flex;
  }
  
  .wave-group .label-char {
    transition: 0.2s ease all;
    transition-delay: calc(var(--index) * .05s);
  }
  
  .wave-group .input:focus ~ label .label-char,
  .wave-group .input:valid ~ label .label-char {
    transform: translateY(-20px);
    font-size: 14px;
    color: #5264AE;
  }
  
  .wave-group .bar {
    position: relative;
    display: block;
    width: 200px;
  }
  
  .wave-group .bar:before,.wave-group .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  
  .wave-group .bar:before {
    left: 50%;
  }
  
  .wave-group .bar:after {
    right: 50%;
  }
  
  .wave-group .input:focus ~ .bar:before,
  .wave-group .input:focus ~ .bar:after {
    width: 50%;
  }
  
  #signupForm{
    display: none;
  }

.btn{
    background-color: #007bff;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
    margin-top: 20px;
    padding: 11.55px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover{
  background-color: #0554a8;
  box-shadow: 0 0 3px #000000;
}

#signup-link,
#login-link{
  text-decoration: none;
  font-weight: 600;
  color: #007bff;
}

#signup-link:hover{
  text-decoration: underline;
}

#login-link:hover{
  text-decoration: underline;
}

.sign-up p,
.log-in p{
    color: #fff;
    font-size: 20px;
    padding: 5px 0 0 0;
}

.icons{
  padding-top: 1.5rem;
}

.icons a{
  font-size: 1.2rem;
  padding: 15px;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: .2rem solid 007bff;
  border-radius: 50%;
  color: #fff;
  margin: 3rem 1.5rem 3rem 0;
  transition: .5s ease;
}

.icons a:hover{
  background: #0554a8;
  color: #fff;
  box-shadow: 0 0 3px #000000;
} 
